* {
    box-sizing : border-box;
}

body {
    margin : 0;
    padding : 0;
    width : 1440px;
    background-image : url("../starter-code/assets/bg-main-desktop.png");
    background-repeat : no-repeat;
    background-size :100%;
    background-position : -146px -112px;
}

#equalizer_landing_page {
    display : flex;
    flex-direction : column;
    margin : 0 auto;
    padding : 32px 0 60px;
    width : 1100px;
    position : relative;
}

#equalizer_landing_page::after {
    content : "";
    width : 312px;
    height : 468px;
    display : block;
    position : absolute;
    top : -40px;
    right : 0;
    background-image : url("../starter-code/assets/bg-pattern-1.svg");
    z-index : -10;
}

/* HEADER */
header {
    
}

header > h1 {
    font-size : 0;
    opacity : 0;
}

header > img {
    
}


/* CONTENT */
.content {
}

.content h1 {
    font-size : 88px;
    font-weight : 700;
    width : 1015px;
    line-height: 88px;
}

.content p {
    font-size : 20px;
    width : 825px;
    line-height: 34px;
}

.content main {
    height : 600px;
    background-color : #191826;
    border-radius : 12px;
    position : relative;
    margin-top : 300px;
    margin-bottom : 200px;
}

.content main::after {
    content : "";
    width : 312px;
    height : 468px;
    position : absolute;
    display : block;
    top : -40px;
    left : 336px;
    background-image : url("../starter-code/assets/bg-pattern-2.svg");
    z-index: 0;
}

.content main #img_app {
    width : 312px;
    height : 642px;
    position : absolute;
    left : 102px;
    top : -213px;
    z-index: 1;
}

.content main .download_box {
    background-color : #FA7453;
    position : absolute;
    width : 446px;
    /* height : 625px; */
    left : 596px;
    top : 90px;
    color : #fff;
    padding : 58px 59px 48px 54px;
    box-sizing: border-box;
    border-radius : 12px;
    z-index: 1;
}

.content main .download_box h2 {
    font-size : 40px;
    font-weight : 700;
    width : 333px;
}

.content main .download_box p {
    width : 333px;
    font-size : 20px;
    font-weight : 400;

}

.content main .download_box .price {
    font-size : 52px;
    font-weight : bold;
    color : #fcfaf9;
    display : flex;
    align-items : center;
    margin-top : 39px;
    margin-bottom : 39px;
}
.content main .download_box .price::after {
    content : '/month';
    font-size : 32px;
    font-weight : normal;
    align-self : center;
    margin-left : 9px;
}

.btn {
    width : 100%;
    height : 61px;
    border-radius : 12px;
    text-align :center;
    box-sizing: border-box;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom : 16px;
    cursor: pointer;
}

.btn#ios:hover {
    background-color: #66e2dc;
    color : #fff;
}

.btn#aos:hover {
    background-color: #ffb964;
    color : #191826;
}

.btn::before {
    content : "";
    background-size : 100%;
    background-repeat : no-repeat;
    margin-right : 5px;
}

.btn#ios {
    background-color : #000;
    color : #fff;
}

.btn#ios::before {
    width : 17.08px;
    height : 20px;
    background-image : url("../starter-code/assets/icon-apple.svg");
}

.btn#aos {
    background-color: #fff;
    color : #000;
}

.btn#aos::before {
    width : 16.7px;
    height : 20px;
    background-image : url("../starter-code/assets/icon-android.svg")
}

/* FOOTER */
footer {
    display : flex;
    align-items: flex-start;
    height : 79px;
    justify-content: space-between;
    margin-top : 39px;
}

footer img {
}

footer .copyright span {
    font-weight: bold;
}

footer .sns ul {
    list-style : none;
    font-size : 0px;
    display : flex;
    width : 100px;
}

footer .sns ul li {
    margin-left : 10px;
}

footer .sns ul li a::before {
    content : "";
    width : 20px;
    height : 20px;
    display : block;
    box-sizing: border-box;
    background-repeat : no-repeat;
    
}

footer .sns ul li:hover a::before {
    filter : invert(60%) sepia(17%) saturate(3162%) hue-rotate(325deg) brightness(99%) contrast(98%);
}

footer .sns ul li:nth-child(1) a::before {
    background-image : url("../starter-code/assets/icon-facebook.svg");
}
footer .sns ul li:nth-child(2) a::before {
    background-image : url("../starter-code/assets/icon-instagram.svg");
}
footer .sns ul li:nth-child(3) a::before {
    background-image : url("../starter-code/assets/icon-twitter.svg");
}


@media screen and (max-width : 1024px) {
    body {
        width : 768px;
        background-image : url("../starter-code/assets/bg-main-tablet.png");
        background-repeat : no-repeat;
        background-size :100%;
        background-position : -254px -112px;
    }
    #equalizer_landing_page {
        width : 696px;
    }

    .content h1 {
        font-size : 64px;
        font-weight : bold;
        width : 520px;
        line-height: 64px;
        margin-bottom : 28px;
    }
    
    .content p {
        font-size : 18px;
        width : 514px;
        line-height: 28px;
    }

    #equalizer_landing_page::after {
        content : "";
        width : 266.67px;
        height : 400px;
        display : block;
        position : absolute;
        top : -32px;
        right : 0;
        z-index : -10;
        background-size: cover;
    }


    .content main {
        width : 696px;
        height : 600px;
        position : relative;
        margin-top : 250px;
        margin-bottom : 200px;
    }
    
    .content main::after {
        content : "";
        width : 280px;
        height : 420px;
        top : -40px;
        left : 280px;
        background-image : url("../starter-code/assets/bg-pattern-2.svg");
        background-size : cover;
        z-index: 0;
    }
    
    .content main #img_app {
        width : 270.21px;
        height : 556px;
        position : absolute;
        left : 102px;
        top : -213px;
        z-index: 1;
    }


    .content main .download_box {
        width : 399px;
        left : 272px;
        top : 150px;
        padding : 58px 59px 48px 54px;
    }

}

@media screen and (max-width : 768px) {
    body {
        width : 375px;
        background-image : url("../starter-code/assets/bg-main-mobile.png");
        background-repeat : no-repeat;
        background-size :100%;
        background-position : -254px -112px;
    }

    #equalizer_landing_page {
        margin : 0 auto;
    }

    .content h1 {
        font-size : 40px;
        font-weight : bold;
        width : 327px;
        line-height: 48px;
        margin-bottom : 28px;
    }
    
    .content p {
        font-size : 16px;
        width : 327px;
        line-height: 26px;
    }

    #equalizer_landing_page::after {
        display : none;
    }

    .content main {
        width : 375px;
        height : 926px;
        position : relative;
        /* margin-top : 250px;
        margin-bottom : 200px; */
    }
    
    .content main::after {
        content : "";
        width : 280px;
        height : 420px;
        top : 0;
        left : 0;
        right : 0;
        margin : 0 auto;
        background-image : url("../starter-code/assets/bg-pattern-2.svg");
        background-size : cover;
        z-index: 0;
    }
    
    .content main #img_app {
        width : 208.97px;
        height : 430px;
        position : absolute;
        left : 0;
        top : -98px;
        right : 0;
        margin : 0 auto;
        z-index: 1;
    }


    .content main .download_box {
        width : 375px;
        left : 0;
        top : 332px;
        right : 0;
        /* padding : 58px 59px 48px 54px; */
        padding : 48px 36px;
        /* padding : 0; */
        box-sizing : border-box;
        margin-bottom : 0;
    }

    .content main .download_box h2 {
        width : 302px;
        font-size : 32px;
        font-weight : bold;
        line-height : 40px;
    }

    .content main .download_box p {
        width : 302px;
        font-size : 18px;
        line-height : 28px;
        font-weight : normal;
    }

    .btn {
        width : 296px;
    }
}